[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "predieval"]
	path = predieval
	url = https://github.com/esm-ispm-unibe-ch/predieval
	shallow = true
	registered = true
